/*Nahallah Champagne, March 22, 2024
IT 202-004, Project 03, nac88@njit.edu*/

/*make the website scrollable*/
html {
    scroll-behavior: auto;
    scroll-behavior: smooth;
    font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
}


/*Font for the home page*/ 
h1, body {
    font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
    /*background-color: #fff0db;*/
    
}

/*Background Image all Pages*/
body {
    background-image: url('images/travel2.jpg');

    background-size: cover;
    height: 100%;
}

/*The line*/
.line hr {
    height: 3px;
    border: 0;
    background: black;
}